/* THEMES */

.theme(@name, @theme-color){
    @fore-color: contrast(@theme-color);
    .flipdown {
        &.flipdown__theme-@{name} {
            .rotor-group-heading:before {
                color: #888888;
                mix-blend-mode: difference;
            }
    
            .rotor,
            .rotor-top,
            .rotor-leaf-front {
                /* Rotor tops */
                color: negation( @theme-color, #FFFFFF);
                color: darken(@fore-color, 6%);
                background-color: #151515;
                background-color: darken(@theme-color,2%);
            }
            .rotor-bottom,
            .rotor-leaf-rear {
                /* Rotor bottoms */
                color: darken(negation( @theme-color, #FFFFFF), 6%);
                color: @fore-color;
                background-color: lighten(@theme-color, 0%);
            }
            .rotor:after {
                /* Hinge */
                border-top: solid 1px lighten(@theme-color,8%);
            }
        }
    }
}
.theme(dark,#222222);
.theme(light,#F8F8F8);
.theme(red,#c03131);
.theme(yellow,#d2d610);
.theme(green,#2db027);

@speed: 0.5s;
@font-size: 4em;

.flipdown {
    overflow: visible;
    display: flex;
    /* Font styles */
    font-family: sans-serif;
    font-weight: bold;
    .rotor:after {
        /* Hinge */
        content:'';
        position:absolute;
        z-index:20;
        bottom: 0;
        left:0;
        right:0;
        height: 50%;
    }
   
    .rotor-group {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        gap: 0.1em;
        font-size: @font-size;

        &:has(.rotor-group-heading) {
            margin-top: 2rem;
        }

        .rotor-group-heading:before {
            display: block;
            text-align: center;
        }

        .rotor-group-heading {
            position:absolute;
            top: -1.6rem;
            flex-basis: 100%;
            flex-grow: 2;
            order: -1;
            font-size: 1rem;
            width: 100%;
        }

        .rotor {
            flex-grow: 1;
            position: relative;
            justify-content: center;
            display: flex;
            
            border-radius: 4px;
            text-align: center;
            perspective: 200px;

            .rotor-leaf {
                z-index: 10;
                width: 100%;
                transform-style: preserve-3d;
                transition: transform 0s;

                &.flipped {
                    transform: rotateX(-180deg);
                    transition: all @speed ease-in-out;
                }
            }

            .rotor-leaf-front,
            .rotor-leaf-rear {
                overflow: hidden;
                width: 100%;
                margin: 0;
                transform: rotateX(0deg);
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
            }

            .rotor-leaf-front {
                position: absolute;
                top: 0;
                border-radius: 4px 4px 0px 0px;
                height: 50%;
            }

            .rotor-leaf-rear {
                border-radius: 0px 0px 4px 4px;
                transform: rotateX(180deg);
                clip-path: polygon(0 50%, 100% 50%,100% 100%, 0% 100%);
            }

            .rotor-top,
            .rotor-bottom {
                overflow: hidden;
                position: absolute;
                width: 100%;
            }

            .rotor-top {
                z-index: 9;
                height: 50%;
                border-radius: 4px 4px 0px 0px;
            }

            .rotor-bottom {
                z-index: 8;
                border-radius: 4px;
            }
        }

        &:nth-child(1) .rotor-group-heading:before {
            content: attr(data-before);
        }

        &:nth-child(2) .rotor-group-heading:before {
            content: attr(data-before);
        }

        &:nth-child(3) .rotor-group-heading:before {
            content: attr(data-before);
        }

        &:nth-child(4) .rotor-group-heading:before {
            content: attr(data-before);
        }
        &:nth-child(-n+3) {
            margin-right: 0.36em;
            background-color: transparent !important;
        }
        &:nth-child(n+2):nth-child(-n+3):after
        {
            content: ':';
            background-color: transparent !important;
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media (max-width: 550px) {

    .flipdown {
        .rotor-group {
            font-size: 2.2em;
        }
    }
}
